<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Melon RealTime</title>
</head>
<body>
    <p><a th:href="@{/}">Home</a></p>
    <h1>Melon 실시간 차트</h1>
    <ul>
        <li th:each="song : ${realTime.songs.song}" th:text="${song.songName}"></li>
    </ul>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var songs = /*[[${realTime}]]*/ null;

        // Debug
        console.log(songs);
        /*]]>*/
    </script>
</body>
</html>